 .info-card {
     width: 100%;
     margin-bottom: 20px;

     mat-card-header {
         padding: 16px;
     }

     button {
         width: initial;
         margin: 0 15px 15px 15px;
     }

     .footer {
         padding: 16px;
     }
 }